@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@400;500&family=Miriam+Libre:wght@700&display=swap");
html {
  font-size: 10px;
}

body,
p {
  margin: 0;
  font-family: "Heebo", sans-serif;
  letter-spacing: -0.017rem;
  color: #303030;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
}

h3 {
  margin: 0;
}

h4 {
  margin: 0;
}

h5 {
  margin: 0;
}

button {
  border: none;
  background: none;
  font-family: "Heebo", sans-serif;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.basic-grid {
  max-width: calc(127rem + 6%);
  padding: 0 3%;
  margin: auto;
}

.head_30 {
  font-family: "Miriam Libre", sans-serif;
  font-size: 3rem;
  font-weight: 700;
}
.head_24 {
  font-size: 2.4rem;
  font-weight: 500;
}
.head_18 {
  font-size: 1.8rem;
  font-weight: 500;
}

.parag_16 {
  font-size: 1.6rem;
  font-weight: 500;
}
.parag_16.light {
  font-weight: 400;
}
.parag_14 {
  font-family: "Miriam Libre", sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
}
.parag_13 {
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 169.231%;
}
.parag_12 {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 166.667%;
}

.num_30 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 100%;
}
.num_22 {
  font-family: "Miriam Libre", sans-serif;
  font-size: 2.2rem;
  font-weight: 700;
}
.num_20 {
  font-family: "Miriam Libre", sans-serif;
  font-size: 2rem;
  font-weight: 700;
}

.caption_14 {
  font-family: "Heebo", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  color: #838383;
}

.dv_sub-title {
  color: #838383;
}
.dv_sub-title:not(.double .dv_sub-title) {
  text-align: center;
}
.dv_total {
  color: #b6b6b6;
  font-weight: 400;
}
.dv_tooltip {
  text-align: center;
  background-color: white;
  padding: 1rem;
  stroke-width: 0.1rem;
  border: 0.1rem solid #F4F4F5;
  -webkit-filter: drop-shadow(0px 44px 44px rgba(0, 0, 0, 0.08));
          filter: drop-shadow(0px 44px 44px rgba(0, 0, 0, 0.08));
  border-radius: 1rem;
  position: relative;
  z-index: 20;
}
.dv_tooltip:after {
  content: "";
  background: url("../assets/tool-tip_arrow-down.svg") no-repeat center;
  width: 2rem;
  height: 1.4rem;
  background-size: 2rem;
  position: absolute;
  inset: auto 0 -1rem 0;
  margin: auto;
  z-index: 10;
}
.dv_tooltip .parag_12 {
  color: #838383;
}

.pie-chart.card {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.pie-chart.card .head_24 {
  text-align: center;
  line-height: 100%;
  margin-bottom: 1rem;
}
.pie-chart .recharts-wrapper {
  margin: auto auto 2rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.pie-chart .recharts-wrapper,
.pie-chart .recharts-wrapper svg {
  width: 85% !important;
  height: 85% !important;
}
.pie-chart .recharts-wrapper path {
  stroke: none;
}
.pie-chart .recharts-wrapper .recharts-pie .recharts-pie-sector:nth-child(1) path {
  fill: #FF835C;
}
.pie-chart .recharts-wrapper .recharts-pie .recharts-pie-sector:nth-child(2) path {
  fill: #FF5C5C;
}
.pie-chart .recharts-wrapper .recharts-pie .recharts-pie-sector:nth-child(3) path {
  fill: #20CB79;
}
.pie-chart .card__legend ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
  gap: 1.5rem 3rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.pie-chart .card__legend ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  color: #838383;
}
.pie-chart .card__legend ul li:before {
  content: "";
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 100%;
  background-color: grey;
  display: block;
}
.pie-chart .card__legend ul li:nth-child(1):before {
  background-color: #FF835C;
}
.pie-chart .card__legend ul li:nth-child(2):before {
  background-color: #FF5C5C;
}
.pie-chart .card__legend ul li:nth-child(3):before {
  background-color: #20CB79;
}

.pie-chart__wrapper {
  position: relative;
}

.pie-chart__total {
  text-align: center;
  position: absolute;
  inset: 0;
  margin: auto;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.chart.horizontal {
  padding: 3rem 3.5rem 3rem 2rem;
}
.chart.horizontal .card__head {
  padding: 0 0.5rem 0 2.2rem;
}
.chart .card__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.recharts-grid-vertical {
  display: none;
}
.recharts-cartesian-axis-ticks {
  font-size: 1.3rem;
}
.recharts-cartesian-grid-vertical {
  display: none;
}
.recharts-cartesian-grid-horizontal line {
  stroke: #F4F4F5;
}
.recharts-tooltip-wrapper {
  -webkit-transition: none !important;
  transition: none !important;
}

@media only screen and (min-width: 1921px) {
  html {
    font-size: 12px;
  }
}
@media only screen and (min-width: 1701px) {
  html {
    font-size: 11px;
  }
}
@media only screen and (min-width: 1521px) and (max-width: 1700px) {
  html {
    font-size: 10px;
  }
}
@media only screen and (min-width: 1432px) and (max-width: 1520px) {
  html {
    font-size: 9px;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1431px) {
  html {
    font-size: 8px;
  }
}
@media only screen and (max-width: 1023px) {
  html {
    font-size: 8px;
  }
}
header {
  height: 5rem;
  background: white;
  -webkit-box-shadow: 0 0.4rem 2rem 0 rgba(0, 0, 0, 0.06);
          box-shadow: 0 0.4rem 2rem 0 rgba(0, 0, 0, 0.06);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
header .basic-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
}

.dashboard {
  padding: 10rem 0;
}

.dashboard__headline {
  margin-bottom: 2.6rem;
}

.dashboard__cards-layout {
  display: grid;
  grid-template-columns: repeat(3, 32%);
  grid-auto-rows: 48rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 3rem 2rem;
}
.dashboard__cards-layout .card:nth-child(1) {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
.dashboard__cards-layout .card:nth-child(2) {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}
.dashboard__cards-layout .card:nth-child(3) {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}
.dashboard__cards-layout .card:nth-child(4) {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
}
.dashboard__cards-layout .card:nth-child(5) {
  -webkit-box-ordinal-group: 6;
      -ms-flex-order: 5;
          order: 5;
}
.dashboard__cards-layout .card:nth-child(6) {
  -webkit-box-ordinal-group: 7;
      -ms-flex-order: 6;
          order: 6;
}
.dashboard__cards-layout .card:nth-child(7) {
  -webkit-box-ordinal-group: 8;
      -ms-flex-order: 7;
          order: 7;
}
.dashboard__cards-layout .card:nth-child(8) {
  -webkit-box-ordinal-group: 9;
      -ms-flex-order: 8;
          order: 8;
}
.dashboard__cards-layout .card:nth-child(9) {
  -webkit-box-ordinal-group: 10;
      -ms-flex-order: 9;
          order: 9;
}
.dashboard__cards-layout .card:nth-child(10) {
  -webkit-box-ordinal-group: 11;
      -ms-flex-order: 10;
          order: 10;
}

.card {
  -webkit-box-shadow: 0 1rem 2.2rem 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 1rem 2.2rem 0 rgba(0, 0, 0, 0.08);
  border-radius: 1rem;
  padding: 3rem 4.5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.card.chart:not(.chart.horizontal) {
  padding-left: 4rem;
}

.card__data {
  height: 100%;
}

.card__head .filter-dropdown__control {
  padding: 0 2rem;
  border-radius: 4.3rem;
  font-family: "Heebo", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 168.826%;
  height: 3.8rem;
  border-color: #d0d0d0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}
.card__head .filter-dropdown__control--is-focused {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.card__head .filter-dropdown__control:hover {
  border-color: #d0d0d0;
}
.card__head .filter-dropdown__value-container {
  padding: 0;
}
.card__head .filter-dropdown__single-value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
}
.card__head .filter-dropdown__single-value:after {
  content: "";
  background: url("../assets/arrow-down.svg") no-repeat center;
  display: block;
  width: 1.8909rem;
  height: 1.8909rem;
  background-size: 1.8909rem;
}
.card__head .filter-dropdown__menu {
  border-radius: 1.2rem;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  padding: 0;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 168.826%;
  width: 10rem;
  inset: 5rem 0 auto 0;
  margin: auto;
}
.card__head .filter-dropdown__option {
  background-color: transparent;
  color: #303030;
  width: 100%;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  padding: 0.8rem 2.1rem;
}
.card__head .filter-dropdown__option--is-selected {
  color: #1A8AFF;
}
.card__head .filter-dropdown__option--is-focused {
  color: #1A8AFF;
}
.card__head .filter-dropdown__input {
  opacity: 0 !important;
}

.avg-response {
  grid-column: 2/4;
}
.avg-response .recharts-layer path:last-of-type {
  stroke: #26318F;
  stroke-width: 0.2rem;
}
.avg-response .recharts-active-dot circle {
  stroke-width: 5;
  stroke: #838383;
  fill: #838383;
}

.inquiries-vs-letters {
  grid-column: 1/3;
}
@media only screen and (max-width: 1280px) {
  .inquiries-vs-letters {
    grid-column: 1/4;
  }
}
.inquiries-vs-letters .recharts-tooltip-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.inquiries-vs-letters .recharts-tooltip-wrapper .dv_tooltip {
  width: 10rem;
}
.inquiries-vs-letters .recharts-tooltip-wrapper .dv_tooltip .label {
  margin-bottom: 0.5rem;
}
.inquiries-vs-letters .recharts-tooltip-wrapper .dv_tooltip_spotlight {
  margin-top: -3rem;
  width: 9rem;
}
.inquiries-vs-letters ul.dv_legend:not(.recharts-tooltip-wrapper ul.dv_legend) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}
.inquiries-vs-letters ul.dv_legend li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
}
.inquiries-vs-letters ul.dv_legend li .dv_tooltip_legend_data_point {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
}
.inquiries-vs-letters ul.dv_legend li .dv_tooltip_legend_data_point:before {
  content: "";
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
  display: block;
}
.inquiries-vs-letters ul.dv_legend li:nth-child(1) .dv_tooltip_legend_data_point:before {
  background-color: #26318F;
}
.inquiries-vs-letters ul.dv_legend li:nth-child(2) .dv_tooltip_legend_data_point:before {
  background-color: #1A8AFF;
}

.texting-per-inquiries {
  grid-column: 1/2;
}
@media only screen and (max-width: 1280px) {
  .texting-per-inquiries {
    grid-column: 1/3;
  }
  .texting-per-inquiries.card.chart {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}/*# sourceMappingURL=style.css.map */