@use "../../base/base.scss";
@use "../../base/settings.scss";

//Pie charts

.pie-chart {

    &.card {
      align-items: center;
  
      .head_24 {
        text-align: center;
        line-height: 100%;
        margin-bottom: 1rem;
      }
    }
  
    .recharts-wrapper {
      margin: auto auto 2rem auto;
      display: flex;
      justify-content: center;
  
      &,
      svg {
        width: 85% !important;
        height: 85% !important;
      }
  
      path {
        stroke: none;
      }
  
      .recharts-pie {
        @for $i from 1 through length(settings.$pie_chart_colors) {
          .recharts-pie-sector:nth-child(#{$i}) {
            path {
              fill: nth(settings.$pie_chart_colors, $i)
            }
          }
  
        }
      }
  
  
    }
  
    .card__legend {
  
  
      ul {
        display: flex;
        flex-wrap: wrap-reverse;
        gap: 1.5rem 3rem;
        justify-content: center;
        max-width: 99%;
  
        li {
          display: flex;
          align-items: center;
          gap: 1rem;
          color: settings.$grey;
  
          &:before {
            content: '';
            width: 1.6rem;
            height: 1.6rem;
            border-radius: 100%;
            background-color: grey;
            display: block;
          }
  
          @for $i from 1 through length(settings.$pie_chart_colors) {
  
            &:nth-child(#{$i}) {
  
              &:before {
                background-color: nth(settings.$pie_chart_colors, $i);
              }
            }
  
          }
        }
  
      }
  
    }
  }
  
  .pie-chart__wrapper {
    position: relative;
  }
  
  .pie-chart__total {
    text-align: center;
    position: absolute;
    inset: 0;
    margin: auto;
    height: fit-content;
  }

