@use "../../base/base.scss";
@use "../../base/settings.scss";

.inquiries__menu {
    margin-bottom: 3rem;
    

    .filter {
        box-shadow: 0px 10px 22px 0px rgba(0, 0, 0, 0.08);
        border: none;
        height: 4.4rem;
        padding: 0;
        width: 100%;
        outline: none;
        font-family: settings.$font_main;
        border-radius: 30rem;
        box-sizing: border-box;

        &::placeholder {
            color: settings.$grey;

        }

    }

}

form[role=search] {
        position: relative;


        .filter {
            padding: 0 2rem;
        }

}


.search__buttons {
    position: absolute;
    display: flex;
    align-items: center;
    left:0.5rem;
    top:0.5rem;



    .search {

        &__submit {
            display: flex;
            width: 3.4rem;
            height: 3.4rem;
            padding: 0.6rem;
            justify-content: center;
            align-items: center;
            background-color: settings.$dark-blue !important;
            border-radius: 100%;
            bottom:0;
            margin: auto;
            background: url('../assets/search.svg') no-repeat center;
            background-size: 1.8rem;
            z-index: 1;
            cursor: pointer;
            }

            &__separator {
                    height: 2.5rem;
                    width: 1.8rem;
                    background-color: white;
                    border-right: 0.1rem solid lighten(settings.$purple, 40%);
                    z-index: 1;
                    margin-left: -1rem;
                    opacity: 0;
                    transition: .3s all;
                    transition-delay: 0.5s;



                    &.show {
                        opacity: 1;
                        transition-delay:0s;



                    }
            }
    
            &__clear {
                width: 2.7rem;
                height: 2.2rem;
                background: url('../assets/clear-x.svg') no-repeat right;
                background-size: 2.1rem;
                cursor: pointer;
                transform: translateX(-4rem);
                opacity: 0;
                visibility: hidden;
                transition: ease-in .3s all;
                transition-delay: 0.2s;

                &.show {
                    opacity: 1;
                    visibility: visible;
                    transform: translateX(0);

                }
                }


            }
    

}

